* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: #fefeff;
    font-family: "Roboto";
}

.header {
    padding: 33px 0 0 0;
    background-color: #f4fbf8;
    .container {
        max-width: 1180px;
        width: 95%;
        margin: 0 auto;
        .logo {
            width: 185.75px;
            height: 40px;
        }
        .menu {
            .text {
                color: #24ab70;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
}
.sign-in {
    color: #24ab70;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.sign-up {
    background-color: #24ab70;
    color: #ffffff;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 163.5px;
    height: 40px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}

.hero {
    background-color: white;
    height: 815px;
    background-image: url(/assets/background-top.png);
    background-size: cover;
    background-position: 50% 100%;
    position: relative;
    .container {
        max-width: 1180px;
        width: 95%;
        margin: 0 auto;
        min-height: 576px;
        .content {
            max-width: 555px;
            width: 50%;
            .button {
                margin-top: 59px;
                width: 161px;
                background-color: #24ab70;
                color: #ffffff;
                padding: 14px 30px;
                border-radius: 4px;
                font-weight: 600;
                font-size: 18px;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .header {
        position: relative;
        z-index: 10;
        height: 70px;
        padding: 0;
        box-shadow: 0px 4px 4px 0px #24ab70;
        .container {
            .logo {
                width: 138px;
                height: 30px;
            }
        }
    }
    .hero {
        padding-top: 29px;
        background-image: url(/assets/background-top2.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 675px;
        .container {
            min-height: 300px;
            .background {
                max-width: 335px;
                height: 231px;
                background-image: url(/assets/penthouse.png);
                background-repeat: no-repeat;
                background-size: 110%;
                background-position: 50% 20%;
                box-shadow: rgba(25, 42, 89, 0.2) 0px 7.5px 20.8333px -6.25px;
                border-radius: 4px;
            }
            .content {
                width: 100%;
                .button {
                    margin-top: 26px;
                    width: 100%;
                    text-align: center;
                    padding: 11px 0;
                    height: 50px;
                }
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    .hero {
        background-image: url(/assets/background-top3.png);
    }
    .section1 {
        margin-top: 32px;
    }
}

.section1 {
    .container {
        max-width: 1180px;
        width: 95%;
        margin: 0 auto;
        .title {
            display: flex;
            justify-content: space-between;
            .button {
                background-color: #f8f9fe;
                color: #24ab70;
                border: 1px solid #24ab70;
                border-radius: 4px;
                padding: 10px 27px;
                font-weight: 600;
                font-size: 18px;
                line-height: 28px;
                width: 140px;
            }
            .small-text {
                max-width: 580px;
            }
            .left {
                width: 100%;
            }
            .right {
                display: flex;
                align-items: end;
                gap: 8px;
                .prev,
                .next {
                    background-color: #69b99d;
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            @media only screen and (max-width: 660px) {
                .button {
                    padding: 11px 24px;
                    width: 134px;
                }
                .right {
                    display: none;
                }
            }
        }
    }
    .content {
        min-width: 880px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .card {
        border: 1px solid #dedcda;
        padding: 16px 16px 15px 16px;
        width: calc((100% - 20px * 2) / 3);
        min-width: 280px;
        height: 465px;
        .img {
            background-size: cover;
            background-position: 50%;
            max-width: 347.66px;
            width: 100%;
            height: 234.82px;
        }
        .detail {
            background-color: #f5f5f5;
            padding: 0 8px;
            min-height: 32px;
            width: 204px;
        }
        @media only screen and (max-width: 1100px) {
            .price {
                margin-top: 3px;
            }
            .detail {
                flex-direction: column;
                width: 123px;
            }
        }
        .button {
            margin-top: 16px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 48px;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            border-radius: 4px;
        }
        .tertiary {
            border: 1px solid #69b99d;
            color: #69b99d;
        }
        .primary {
            background-color: #69b99d;
            color: #fefeff;
        }
    }
}

@media only screen and (max-width: 1024px) {
}

.section2 {
    .container {
        max-width: 1180px;
        width: 95%;
        margin: 0 auto;
        .content {
            width: calc((100% - 22px) / 2);
            .button {
                background-color: #f8f9fe;
                color: #24ab70;
                border: 1px solid #24ab70;
                border-radius: 4px;
                padding: 0 22px;
                align-content: center;
                text-align: center;
                width: 134px;
                height: 52px;
                font-weight: 600;
                font-size: 18px;
            }
            .box1 {
                padding: 24px 26px 9px 24px;
                background-color: #fafafa;
                border-radius: 4px;
                width: calc((100% - 24px) / 2);
                display: flex;
                flex-direction: column;
                gap: 9px;
            }
            .small {
                max-width: 173px;
            }
            .box2 {
                background-color: #f4fbf8;
                border-radius: 4px;
                padding: 16px 37px 16px 24px;
                display: flex;
                justify-content: space-between;
                gap: 10px;
            }
        }
        .img {
            background-image: url(/assets/sec2-img.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            width: calc((100% - 22px) / 2);
            border-radius: 4px;
        }
        @media only screen and (max-width: 1024px) {
            .content {
                width: 100%;
            }
            .img {
                height: 362px;
                max-width: 335px;
                width: 100%;
            }
        }
        @media only screen and (max-width: 660px) {
            .box2-img {
                width: 128px;
                height: 110px;
                object-fit: cover;
            }
        }
    }
}

.section3 {
    position: relative;
    z-index: 10;
    .container {
        max-width: 1180px;
        width: 95%;
        margin: 0 auto;
        .button {
            background-color: #f8f9fe;
            color: #24ab70;
            border: 1px solid #24ab70;
            border-radius: 4px;
            padding: 0 22px;
            align-content: center;
            text-align: center;
            width: 157px;
            height: 52px;
            font-weight: 600;
            font-size: 18px;
        }
        .left {
            background-image: url(/assets/section3-bg.png);
            background-size: cover;
            background-position: 50% 100%;
            width: calc((100% - 16px) / 2);
            border-radius: 4px;
            padding: 40px 21px 53px 40px;
        }
        .right {
            width: calc((100% - 16px) / 2);
        }
        .box1 {
            width: calc((100% - 32px) / 2);
            padding: 17px 16px;
            background-color: #f6f6f6;
            color: #ababab;
            border: 2px solid #24ab70;
            border-radius: 4px;
            height: 58px;
            align-content: center;
        }
        .box2 {
            width: 100%;
            padding: 17px 16px;
            background-color: #f6f6f6;
            color: #ababab;
            border: 2px solid #24ab70;
            border-radius: 4px;
            height: 121px;
        }
        .primary {
            background-color: #24ab70;
            color: #ffffff;
            border-radius: 4px;
            padding: 14px 26px;
            text-align: center;
            align-content: center;
            width: 179px;
            height: 56px;
        }
        @media only screen and (max-width: 1024px) {
            .left {
                width: 100%;
                min-height: 446px;
            }
            .right {
                width: 100%;
            }
            .box1 {
                width: 100%;
            }
        }
    }
}

.section4 {
    background-color: #f4fbf8;
    .background {
        background-color: #fefeff;
        background-image: url(/assets/background-bottom.png);
        background-position: 100% 0;
        background-size: cover;
        height: 984px;
        position: relative;
        bottom: 30px;
    }
    .container {
        max-width: 1180px;
        width: 95%;
        margin: 0 auto;
        position: absolute;
        bottom: 51px;
        left: 50%;
        transform: translateX(-50%);
    }
    .button {
        padding: 12px 22px;
        background-color: #f8f9fe;
        color: #24ab70;
        border: 1px solid #24ab70;
        border-radius: 4px;
        width: 156px;
        height: 52px;
        align-content: center;
        text-align: center;
    }
    .title {
        height: 58px;
        align-content: center;
    }
    .content {
        padding: 0 5px;
        width: 100%;
        min-width: 880px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .arrow {
        object-fit: cover;
    }
    .card {
        background-color: white;
        box-shadow: 0px 4px 30px 0px #0000001a;
        padding: 8px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 4px;
        width: 278px;
        height: 370px;
    }
    .avatar {
        width: 100px;
        height: 100px;
    }
    .line {
        border: 1px solid #24ab70;
    }
    .logo {
        width: 138px;
        height: 30px;
    }
    .icon {
        width: 40px;
        height: 40px;
    }

    @media only screen and (max-width: 1024px) {
        .background {
            bottom: 0;
            height: 870px;
        }
        .container {
            bottom: 21px;
        }
    }
    @media only screen and (max-width: 660px) {
        .background {
            height: 820px;
        }
        .container {
            bottom: 43px;
        }
    }
}
